.icon-add {
    background: #99d2a6;
    border-radius: 100%;
    color: white;
    margin-right: 10px !important;
}

.icon-remove {
    background: #ec8e98;
    border-radius: 100%;
    color: white;
}