
<ion-header>
  <ion-toolbar>
    <ion-title class="subtitulo ion-text-wrap">
        Carrito de compras
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
         <ion-icon color="primary" slot="icon-only"  name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']" >
        <ion-icon color="primary" slot="icon-only"  name="storefront-sharp"></ion-icon>
     </ion-button>
      <ion-button [routerLink]="['/perfil']" >
         <ion-icon color="primary" slot="icon-only"  name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let producto of pedido.productos">
      <app-itemcarrito [productoPedido]="producto"></app-itemcarrito>
    </div>







</ion-content>


<ion-footer>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
              <ion-col class="normal text-center" size="6" style="border-right: 1px solid #6c757d;">
                  Cantidad: {{cantidad}}
              </ion-col>
              <ion-col class="normal text-center" size="6">
                Total: {{total}}$
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="pedir()" expand="full" class="normal" style="color: white ! important">
                Pedir
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-footer>
